```{=html}
<div class="accordion" id="accordion">
<% for (const item of items) { %>
    <div class="accordion-item">
    <div class="accordion-header m-0" id="heading<%- item.item_c %>F">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%- item.item_c %>F" aria-expanded="false" aria-controls="collapse<%- item.item_c %>F">
    <b class="m-1"><%- item.name %></b>
    </button>
    </div>
    <div id="collapse<%- item.item_c %>F" class="accordion-collapse collapse" aria-labelledby="heading<%- item.item_c %>F" data-bs-parent="#accordion" style="">
    <div class="accordion-body">
    <p class="card-text"><%- item.description %></p>
    <ul>
    <% for (const point of item.bullet_points) { %>
        <li class="card-text"><%- point %></li>
    <% } %>
    </ul>
    <a target="_blank" href="<%- item.href %>" class="card-link"><%- item.href_name %></a>
    </div>
    </div>
    </div>
<% } %>
</div>
```
